name: GitHub Pages
on:
  push:
    branches:
      - source
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 检查运行
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: 安装 Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "14.x"

      - name: 安装运行环境
        run: yarn
      
      - name: 安装主题
        run: |
          rm -r themes/yun
          git clone https://github.com/YunYouJun/hexo-theme-yun.git themes/yun
        
      - name: 构建静态文件
        run: yarn build

      - name: 上传静态文件
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          publish_branch: main
          force_orphan: true
